## 1. Kütüphane ve Veri Yükleme

Pandas ve Numpy kütüphanelerini import ettik ve weather_data.csv dosyasını yükledik.

In [1]:
import pandas as pd
import numpy as np

# CSV dosyasını okuyoruz
df = pd.read_csv('weather_data.csv')

print("Veri seti başarıyla yüklendi!")
print(f"Veri seti boyutu: {df.shape}")
print(f"Sütun isimleri: {df.columns.tolist()}")

Veri seti başarıyla yüklendi!
Veri seti boyutu: (100, 4)
Sütun isimleri: ['Date', 'City', 'Temperature', 'Humidity']

## 2. Veriyi Keşfetme

Veri setinin ilk 5 satırı, son 5 satırı ve istatistiksel özeti görüntülenmiştir.

In [15]:
# İlk 5 satırı gösteriyoruz
print("İlk 5 satır:")
print(df.head())
print("\n" + "="*70 + "\n")

İlk 5 satır:
         Date      City  Temperature   Humidity
0  2023-01-01  İstanbul    16.151138  61.351535
1  2023-01-02     Bursa    33.735633  54.334652
2  2023-01-03     Bursa    22.349836  77.209762
3  2023-01-04     İzmir     7.191749  71.983702
4  2023-01-05    Ankara    10.547860  73.048585

======================================================================

In [16]:
# Son 5 satırı gösteriyoruz
print("Son 5 satır:")
print(df.tail())
print("\n" + "="*70 + "\n")

Son 5 satır:
          Date     City  Temperature   Humidity
95  2023-04-06  Antalya    -0.445999  71.817181
96  2023-04-07   Ankara    -2.456281  66.878091
97  2023-04-08    İzmir    19.871719  39.765404
98  2023-04-09  Antalya    21.732137  32.799733
99  2023-04-10    İzmir    12.896571  57.887549

======================================================================

In [17]:
# İstatistiksel özet
print("Veri seti istatistiksel özeti:")
print(df.describe())

Veri seti istatistiksel özeti:
       Temperature    Humidity
count   100.000000  100.000000
mean     13.933302   61.402382
std      10.562810   18.202072
min      -3.802847   30.040149
25%       5.437379   45.758871
50%      13.949726   63.382368
75%      20.953601   77.757185
max      34.803090   89.758341

## 3. Sütun Seçimi

Sadece Date, City ve Temperature sütunlarını seçerek yeni bir görünüm oluşturduk.

In [2]:
# Sadece Date, City ve Temperature sütunlarını seçiyoruz
selected_columns = df[['Date', 'City', 'Temperature']]
print("Seçilen sütunlar (İlk 10 satır):")
print(selected_columns.head(10))
print("\n" + "="*70 + "\n")

Seçilen sütunlar (İlk 10 satır):
         Date      City  Temperature
0  2023-01-01  İstanbul    16.151138
1  2023-01-02     Bursa    33.735633
2  2023-01-03     Bursa    22.349836
3  2023-01-04     İzmir     7.191749
4  2023-01-05    Ankara    10.547860
5  2023-01-06    Ankara    29.323858
6  2023-01-07  İstanbul     6.653819
7  2023-01-08  İstanbul     3.062304
8  2023-01-09     İzmir    18.130329
9  2023-01-10     Bursa    -0.828552

======================================================================

In [3]:
# City ve Temperature kolonlarını birlikte listeleyiyoruz
city_temp = df[['City', 'Temperature']]
print("Şehir ve Sıcaklık birlikte (İlk 15 satır):")
print(city_temp.head(15))

Şehir ve Sıcaklık birlikte (İlk 15 satır):
        City  Temperature
0   İstanbul    16.151138
1      Bursa    33.735633
2      Bursa    22.349836
3      İzmir     7.191749
4     Ankara    10.547860
5     Ankara    29.323858
6   İstanbul     6.653819
7   İstanbul     3.062304
8      İzmir    18.130329
9      Bursa    -0.828552
10  İstanbul     8.418870
11    Ankara     5.574377
12   Antalya    16.289237
13     İzmir    19.256597
14     İzmir    -0.182133

## 4. Basit Filtreleme

Belirli koşullara göre verileri filtreledik.

In [4]:
# Sıcaklık 30 derecenin üzerinde olan kayıtlar
temp_above_30 = df[df['Temperature'] > 30]
print("Sıcaklık 30°C'nin üzerinde olan kayıtlar:")
print(f"Toplam kayıt sayısı: {len(temp_above_30)}")
print(temp_above_30.head(10))
print("\n" + "="*70 + "\n")

Sıcaklık 30°C'nin üzerinde olan kayıtlar:
Toplam kayıt sayısı: 10
          Date      City  Temperature   Humidity
1   2023-01-02     Bursa    33.735633  54.334652
19  2023-01-20  İstanbul    32.573845  47.427671
24  2023-01-25   Antalya    33.996659  45.778425
31  2023-02-01    Ankara    34.803090  65.272843
48  2023-02-18     Bursa    34.574152  45.465535
57  2023-02-27     İzmir    31.650439  32.027107
67  2023-03-09  İstanbul    31.194814  58.052741
70  2023-03-12     Bursa    31.432847  67.212496
82  2023-03-24     Bursa    31.724520  35.720562
93  2023-04-04     Bursa    34.451837  87.965946

======================================================================

In [5]:
# Bursa şehrine ait kayıtlar
bursa_records = df[df['City'] == 'Bursa']
print("Bursa şehrinin tüm kayıtları:")
print(f"Toplam kayıt sayısı: {len(bursa_records)}")
print(bursa_records.head(10))

Bursa şehrinin tüm kayıtları:
Toplam kayıt sayısı: 24
          Date   City  Temperature   Humidity
1   2023-01-02  Bursa    33.735633  54.334652
2   2023-01-03  Bursa    22.349836  77.209762
9   2023-01-10  Bursa    -0.828552  46.953948
18  2023-01-19  Bursa    11.839917  89.420705
20  2023-01-21  Bursa    15.192716  85.060167
29  2023-01-30  Bursa    16.797977  37.454385
35  2023-02-05  Bursa    10.509472  52.806635
37  2023-02-07  Bursa     1.392703  49.667117
43  2023-02-13  Bursa     4.883422  82.394517
48  2023-02-18  Bursa    34.574152  45.465535

## 5. Mantıksal Operatörler ile Filtreleme

AND ve OR operatörleri kullanarak karmaşık filtrelemeler yaptık.

In [6]:
# İstanbul VE Nem > 60
istanbul_high_humidity = df[(df['City'] == 'İstanbul') & (df['Humidity'] > 60)]
print("İstanbul VE Nem > 60 olan kayıtlar:")
print(f"Toplam kayıt sayısı: {len(istanbul_high_humidity)}")
print(istanbul_high_humidity.head(10))
print("\n" + "="*70 + "\n")

İstanbul VE Nem > 60 olan kayıtlar:
Toplam kayıt sayısı: 12
          Date      City  Temperature   Humidity
0   2023-01-01  İstanbul    16.151138  61.351535
15  2023-01-16  İstanbul    22.216011  79.644751
17  2023-01-18  İstanbul    14.815879  75.444382
26  2023-01-27  İstanbul    -3.340537  62.062040
28  2023-01-29  İstanbul    17.477574  60.306731
30  2023-01-31  İstanbul     6.095407  73.879355
41  2023-02-11  İstanbul     3.730291  74.929572
59  2023-03-01  İstanbul    28.375876  64.526427
64  2023-03-06  İstanbul    25.948734  78.551780
65  2023-03-07  İstanbul    -1.151388  76.377752

======================================================================

In [7]:
# Ankara VEYA Sıcaklık < 5
ankara_or_cold = df[(df['City'] == 'Ankara') | (df['Temperature'] < 5)]
print("Ankara VEYA Sıcaklık < 5°C olan kayıtlar:")
print(f"Toplam kayıt sayısı: {len(ankara_or_cold)}")
print(ankara_or_cold.head(10))
print("\n" + "="*70 + "\n")

Ankara VEYA Sıcaklık < 5°C olan kayıtlar:
Toplam kayıt sayısı: 37
          Date      City  Temperature   Humidity
4   2023-01-05    Ankara    10.547860  73.048585
5   2023-01-06    Ankara    29.323858  39.652508
7   2023-01-08  İstanbul     3.062304  30.341868
9   2023-01-10     Bursa    -0.828552  46.953948
11  2023-01-12    Ankara     5.574377  83.275252
14  2023-01-15     İzmir    -0.182133  44.256152
16  2023-01-17    Ankara    18.295569  50.135854
26  2023-01-27  İstanbul    -3.340537  62.062040
31  2023-02-01    Ankara    34.803090  65.272843
33  2023-02-03    Ankara    16.820497  64.364143

======================================================================

In [8]:
# Sıcaklık < 10 VEYA Nem > 70
cold_or_humid = df[(df['Temperature'] < 10) | (df['Humidity'] > 70)]
print("Sıcaklık < 10°C VEYA Nem > 70% olan kayıtlar:")
print(f"Toplam kayıt sayısı: {len(cold_or_humid)}")
print(cold_or_humid.head(10))

Sıcaklık < 10°C VEYA Nem > 70% olan kayıtlar:
Toplam kayıt sayısı: 61
          Date      City  Temperature   Humidity
2   2023-01-03     Bursa    22.349836  77.209762
3   2023-01-04     İzmir     7.191749  71.983702
4   2023-01-05    Ankara    10.547860  73.048585
6   2023-01-07  İstanbul     6.653819  56.474978
7   2023-01-08  İstanbul     3.062304  30.341868
9   2023-01-10     Bursa    -0.828552  46.953948
10  2023-01-11  İstanbul     8.418870  38.642594
11  2023-01-12    Ankara     5.574377  83.275252
13  2023-01-14     İzmir    19.256597  71.721192
14  2023-01-15     İzmir    -0.182133  44.256152

## 6. Sıralama (Sorting)

Verileri farklı sütunlara göre sıraladık.

In [20]:
# Sıcaklığa göre büyükten küçüğe (azalan) sıralama - ilk 10 kayıt
sorted_by_temp = df.sort_values('Temperature', ascending=False)
print("Sıcaklığa göre büyükten küçüğe sıralanmış ilk 10 kayıt:")
print(sorted_by_temp[['Date', 'City', 'Temperature', 'Humidity']].head(10))
print("\n" + "="*70 + "\n")

Sıcaklığa göre büyükten küçüğe sıralanmış ilk 10 kayıt:
          Date      City  Temperature   Humidity
31  2023-02-01    Ankara    34.803090  65.272843
48  2023-02-18     Bursa    34.574152  45.465535
93  2023-04-04     Bursa    34.451837  87.965946
24  2023-01-25   Antalya    33.996659  45.778425
1   2023-01-02     Bursa    33.735633  54.334652
19  2023-01-20  İstanbul    32.573845  47.427671
82  2023-03-24     Bursa    31.724520  35.720562
57  2023-02-27     İzmir    31.650439  32.027107
70  2023-03-12     Bursa    31.432847  67.212496
67  2023-03-09  İstanbul    31.194814  58.052741

======================================================================

In [21]:
# Neme göre azalan şekilde sıralama
sorted_by_humidity = df.sort_values('Humidity', ascending=False)
print("Neme göre azalan şekilde sıralanmış ilk 10 kayıt:")
print(sorted_by_humidity[['Date', 'City', 'Humidity', 'Temperature']].head(10))
print("\n" + "="*70 + "\n")

Neme göre azalan şekilde sıralanmış ilk 10 kayıt:
          Date     City   Humidity  Temperature
62  2023-03-04   Ankara  89.758341    14.014344
88  2023-03-30    İzmir  89.601290     4.879531
18  2023-01-19    Bursa  89.420705    11.839917
84  2023-03-26  Antalya  89.169447     7.225329
42  2023-02-12   Ankara  89.106005    18.520916
93  2023-04-04    Bursa  87.965946    34.451837
80  2023-03-22   Ankara  87.135928    14.798235
53  2023-02-23    Bursa  86.801770    26.711180
23  2023-01-24  Antalya  86.735288    11.598105
20  2023-01-21    Bursa  85.060167    15.192716

======================================================================

In [22]:
# Şehre göre artan şekilde sıralama
sorted_by_city = df.sort_values('City', ascending=True)
print("Şehre göre artan şekilde sıralanmış ilk 15 kayıt:")
print(sorted_by_city[['Date', 'City', 'Temperature', 'Humidity']].head(15))

Şehre göre artan şekilde sıralanmış ilk 15 kayıt:
          Date    City  Temperature   Humidity
85  2023-03-27  Ankara    26.770042  45.700210
33  2023-02-03  Ankara    16.820497  64.364143
42  2023-02-12  Ankara    18.520916  89.106005
31  2023-02-01  Ankara    34.803090  65.272843
62  2023-03-04  Ankara    14.014344  89.758341
80  2023-03-22  Ankara    14.798235  87.135928
81  2023-03-23  Ankara    22.672432  55.052363
38  2023-02-08  Ankara     1.761409  43.409540
16  2023-01-17  Ankara    18.295569  50.135854
89  2023-03-31  Ankara    11.426421  48.129913
11  2023-01-12  Ankara     5.574377  83.275252
39  2023-02-09  Ankara     8.683508  68.371837
56  2023-02-26  Ankara     2.644578  48.443266
96  2023-04-07  Ankara    -2.456281  66.878091
4   2023-01-05  Ankara    10.547860  73.048585

## 7. Yeni Sütun Ekleme

Türetilmiş sütunlar (Temperature_F ve FeelsLike) ekledik.

In [18]:
# Temperature_F sütunu ekliyoruz (Celsius'tan Fahrenheit'e dönüşüm)
# Formül: (Temperature * 9/5) + 32
df['Temperature_F'] = (df['Temperature'] * 9/5) + 32

print("Temperature_F sütunu eklendi (İlk 10 satır):")
print(df[['Date', 'City', 'Temperature', 'Temperature_F']].head(10))
print("\n" + "="*70 + "\n")

Temperature_F sütunu eklendi (İlk 10 satır):
         Date      City  Temperature  Temperature_F
0  2023-01-01  İstanbul    16.151138      61.072048
1  2023-01-02     Bursa    33.735633      92.724140
2  2023-01-03     Bursa    22.349836      72.229705
3  2023-01-04     İzmir     7.191749      44.945147
4  2023-01-05    Ankara    10.547860      50.986149
5  2023-01-06    Ankara    29.323858      84.782945
6  2023-01-07  İstanbul     6.653819      43.976874
7  2023-01-08  İstanbul     3.062304      37.512148
8  2023-01-09     İzmir    18.130329      64.634592
9  2023-01-10     Bursa    -0.828552      30.508607

======================================================================

In [19]:
# FeelsLike sütunu ekliyoruz
# Formül: FeelsLike = Temperature - (Humidity / 100)
df['FeelsLike'] = df['Temperature'] - (df['Humidity'] / 100)

print("FeelsLike sütunu eklendi (İlk 10 satır):")
print(df[['Date', 'City', 'Temperature', 'Humidity', 'FeelsLike']].head(10))

FeelsLike sütunu eklendi (İlk 10 satır):
         Date      City  Temperature   Humidity  FeelsLike
0  2023-01-01  İstanbul    16.151138  61.351535  15.537623
1  2023-01-02     Bursa    33.735633  54.334652  33.192287
2  2023-01-03     Bursa    22.349836  77.209762  21.577738
3  2023-01-04     İzmir     7.191749  71.983702   6.471912
4  2023-01-05    Ankara    10.547860  73.048585   9.817374
5  2023-01-06    Ankara    29.323858  39.652508  28.927333
6  2023-01-07  İstanbul     6.653819  56.474978   6.089069
7  2023-01-08  İstanbul     3.062304  30.341868   2.758886
8  2023-01-09     İzmir    18.130329  49.428594  17.636043
9  2023-01-10     Bursa    -0.828552  46.953948  -1.298091

## 8. Gruplama (Grouping) ve Analiz

Şehirlere göre analiz yaptık.

In [9]:
# Her şehirde kaç adet veri kaydı olduğunu hesaplıyoruz
city_counts = df['City'].value_counts().sort_index()
print("Her şehirdeki veri kaydı sayısı:")
print(city_counts)
print(f"\nToplam: {city_counts.sum()} kayıt")
print("\n" + "="*70 + "\n")

Her şehirdeki veri kaydı sayısı:
City
Ankara      16
Antalya     15
Bursa       24
İstanbul    21
İzmir       24
Name: count, dtype: int64

Toplam: 100 kayıt

======================================================================

In [10]:
# Şehirlere göre ortalama sıcaklık
avg_temp_by_city = df.groupby('City')['Temperature'].mean().sort_values(ascending=False)
print("Şehirlere göre ortalama sıcaklık (yüksekten düşüğe):")
print(avg_temp_by_city)
print(f"\nGenel ortalama sıcaklık: {df['Temperature'].mean():.2f}°C")

Şehirlere göre ortalama sıcaklık (yüksekten düşüğe):
City
Bursa       16.892722
Ankara      14.637553
İstanbul    13.715155
İzmir       13.459221
Antalya      9.510961
Name: Temperature, dtype: float64

Genel ortalama sıcaklık: 13.93°C

## 9. En Yüksek/Düşük Değer Analizi

Uç değerler (extremes) analiz ettik.

In [11]:
# En yüksek sıcaklığın olduğu satır
max_temp_idx = df['Temperature'].idxmax()
max_temp_row = df.loc[max_temp_idx]

print("En yüksek sıcaklığın olduğu satır:")
print(max_temp_row)
print(f"\nEn yüksek sıcaklık: {max_temp_row['Temperature']:.2f}°C")
print(f"Tarih: {max_temp_row['Date']}")
print(f"Şehir: {max_temp_row['City']}")
print("\n" + "="*70 + "\n")

En yüksek sıcaklığın olduğu satır:
Date           2023-02-01
City               Ankara
Temperature      34.80309
Humidity        65.272843
Name: 31, dtype: object

En yüksek sıcaklık: 34.80°C
Tarih: 2023-02-01
Şehir: Ankara

======================================================================

In [12]:
# En düşük nem oranının olduğu satır
min_humidity_idx = df['Humidity'].idxmin()
min_humidity_row = df.loc[min_humidity_idx]

print("En düşük nem oranının olduğu satır:")
print(min_humidity_row)
print(f"\nEn düşük nem: {min_humidity_row['Humidity']:.2f}%")
print(f"Tarih: {min_humidity_row['Date']}")
print(f"Şehir: {min_humidity_row['City']}")

En düşük nem oranının olduğu satır:
Date           2023-03-18
City                İzmir
Temperature     -2.337326
Humidity        30.040149
Name: 76, dtype: object

En düşük nem: 30.04%
Tarih: 2023-03-18
Şehir: İzmir

## 10. Dışa Aktarma (Export)

Şehirlere göre ortalama sıcaklık tablosunu Excel dosyası olarak kaydediyoruz.

In [13]:
# Şehirlere göre ortalama sıcaklığı DataFrame'e çeviriyoruz
city_temp_summary = df.groupby('City')['Temperature'].agg([
    ('Ortalama Sıcaklık', 'mean'),
    ('Maksimum Sıcaklık', 'max'),
    ('Minimum Sıcaklık', 'min'),
    ('Kayıt Sayısı', 'count')
]).round(2)

# DataFrame'i sırala
city_temp_summary = city_temp_summary.sort_values('Ortalama Sıcaklık', ascending=False)

print("Şehirlere göre sıcaklık özeti:")
print(city_temp_summary)
print("\n" + "="*70 + "\n")

Şehirlere göre sıcaklık özeti:
          Ortalama Sıcaklık  Maksimum Sıcaklık  Minimum Sıcaklık  Kayıt Sayısı
City
Bursa                 16.89              34.57             -0.83            24
Ankara                14.64              34.80             -2.46            16
İstanbul              13.72              32.57             -3.34            21
İzmir                 13.46              31.65             -3.80            24
Antalya                9.51              34.00             -1.67            15

======================================================================

In [14]:
# Excel dosyası olarak kaydetme
try:
    city_temp_summary.to_excel('sehir_sicakliklari.xlsx')
    print("✓ Dosya başarıyla kaydedildi: sehir_sicakliklari.xlsx")
except Exception as e:
    # Excel yoksa CSV olarak kaydet
    city_temp_summary.to_csv('sehir_sicakliklari.csv')
    print("✓ Excel kütüphanesi bulunamadı. CSV olarak kaydedildi: sehir_sicakliklari.csv")
    print(f"Hata: {e}")

✓ Dosya başarıyla kaydedildi: sehir_sicakliklari.xlsx

## Özet

Hava durumu veri analizi projesi tamamlanmıştır

✓ Veri yükleme ve keşfi tamamlandı
✓ Filtreleme işlemleri yapıldı
✓ Sıralama işlemleri gerçekleştirildi
✓ Yeni sütunlar eklendi
✓ Gruplama analizi yapıldı
✓ Uç değerler bulundu
✓ Sonuçlar dışa aktarıldı